# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ML Models & Large Data
Ordinal_Regression/BEST_MODELS/*.pt
baseline_LGBM/experiment/*.csv
!baseline_LGBM/experiment/stratified_split_*.csv

# Logs
*.log
Ordinal_Regression/EXPERIMENTS/*.log

# OS
.DS_Store
